form {
    width: 80%;
    display: block;

    .form-control {
        margin: 2%;
        width: 80%;
        label {
            
        }

        .form-input {
            border-radius: 5px;
            width: 100%;
        }
    }
}