.log {
    .log-header {
        h2 {
            font-size: 20px;
        }
    }

    .log-body {
        width: 100%;
        flex-direction: row;
        display: flex;

        label {
            float: center;
        }
    }

    .log-footer {
        width: 100%;

        a {
            float: right;
            color: white;
            text-decoration: none;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}